<%- include('../partials/header') %>

<main class="container">
    <h2>Lista de usuários</h2>

    <!-- Botão para cadastro de novos usuários -->
    <a href="usuarios/cadastro" class="btn btn-primary">
        <i class="fa-solid fa-users-plus"></i> Novo usuário
    </a>

    <!-- Tabela com lista de usuários -->
    <table class="tabela-dados">
        <!-- cabeçalho -->
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Perfil</th>
                <th style="text-align: center;">Ações</th>
            </tr>
        </thead>
        <!-- corpo com a lista -->
        <tbody>
            <!-- loop para interagir com a lista de usuários  -->
            <% usuarios.forEach( function (user) {  %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.nome %></td>
                    <td><%= user.email %></td>
                    <td><%= user.perfil.toUpperCase() %></td>
                    <!-- Opções de edição e exclusão daquele usuário  -->
                    <td style=" text-align: center; white-space: nowrap;">
                        <!-- Botão de editar  -->
                        <a href="/usuarios/editar/<%= user.id %>" class="btn btn-secondary">
                            <i class="fa-solid fa-pen"></i> Editar
                        </a>
                        <!-- Botao de excluir  -->
                        <form action="/usuarios/deletar/<%= user.id %>" method="post"
                              style="display: inline;"
                              onsubmit="return confirm('Deseja realmente fazer essa exclusão????')">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i> excluir
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</main>

<!-- IMPORTA O FOOTER  -->
 <%- include('../partials/footer') %>